@charset "utf-8";
$training-container-background: var(--bo-base-background);
$training-container-font-family: var(--bo-font-family);
$training-container-font-size: $font-size__base;
$training-label-text-color: var(--bo-text-color);
