@charset "utf-8";
$heliodosbackoffice-container-background: var(--bo-base-background);
$heliodosbackoffice-container-font-family: var(--bo-font-family);
$heliodosbackoffice-container-font-size: $font-size__base;
$heliodosbackoffice-label-text-color: var(--bo-text-color);
